<nav class="{% if page.page_id == "home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.page_id != "home" %}
            <li class="item">
                <a class="link" href="{{ "/" | relative_url }}"><span class="i18n-zh">首页</span><span class="i18n-en">Home</span></a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.page_id != "blog" %}
                <li class="item">
                    <a class="link" href="{{ site.blog-url }}"><span class="i18n-zh">博客</span><span class="i18n-en">Blog</span></a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.page_id != "projects" %}
                <li class="item">
                    <a class="link" href="{{ site.github-pages-url }}/projects/"><span class="i18n-zh">项目</span><span class="i18n-en">Projects</span></a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.page_id != "about" %}
                <li class="item">
                    <a class="link" href="{{ "/about" | relative_url }}"><span class="i18n-zh">关于</span><span class="i18n-en">About</span></a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
